<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>MOSTLY HARMFUL</h1>
        <p class="lead text-muted">
          So you wanna be a cop?
          So you wanna be on the top
          arrestin and shootin' all the kids on the block
          <br>
          incarcerate the youth of the next generation
          and you get the high fives at the police station
        </p>
  
        <p class="lead text-muted">
          So you wanna wear blue
          and prey on the people
          go above the constitution where all men are equal
          <br>
          beat down the poor, the working class core
          your a class trading motherfucking rich man's whore
        </p>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row justify-content-md-center">
          <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
              <div class="card-body text-center">
                <app-under-construction-modal></app-under-construction-modal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <footer class="text-muted">
    <div class="container">
      <p>trashe_racer 2020</p>
    </div>
  </footer>
  