<div class="container-fluid text-center tiled-background">
    <div class="row">
      <div class="col-sm">
        <div class="nes-container is-rounded is-white">
          <h5>An experiment in intersectional anti-racist solidarity</h5>
        </div>

        <button (click)="onClickVibes()" type="button" class="nes-btn is-error">*vibes*</button>
    </div>
    </div>

    <div class="row">
        <section class="nes-container">
            <section class="message-list">
                <section class="message -left">
                  <div class="nes-balloon from-left">
                    <p>Who am I?</p>
                  </div>
                </section>
          
                <section class="message -right">
                  <div class="nes-balloon from-right">
                    <p>I am a British software developer, currently working in Munich. I'm experienced mainly in developing web applications and databases. I'm struggling to learn German.</p>
                    <p>I hope to invert the machinery of surveilance capitalism in the interests of social progress.</p>
                  </div>
                  <i class="nes-bcrikko"></i>
                </section>
              </section>
            </section>
    </div>

    <div class="row">
        <section class="nes-container">
            <section class="message-list">
                <section class="message -left">
                  <div class="nes-balloon from-left">
                    <p>What is this?</p>
                  </div>
                </section>
          
                <section class="message -right">
                  <div class="nes-balloon from-right">
                    <p>The business model of technology giants such as google and facebook depends on providing a service to users, while exploiting data gathered on the user.</p>
                    <p>The idea of this application is to guide users safely through encounters with law enforcment, while creating a public-access database on the operation of the police state.</p>
                </div>
                  <i class="nes-bcrikko"></i>
                </section>
              </section>
            </section>
    </div>

    <div class="row">
        <section class="nes-container">
            <section class="message-list">
                <section class="message -left">
                  <div class="nes-balloon from-left">
                    <p>Sounds interesting, can I get involved?</p>
                  </div>
                </section>
          
                <section class="message -right">
                  <div class="nes-balloon from-right">
                    <p>As an explicitly anti-racist project, this platform must be run by and for the benefit of People of Colour and other marginalised groups.</p>
                    <p>Please get in touch if you are interested in:</p>
                    <div class="lists">
                        <ul class="nes-list is-disc">
                          <li>Project management.</li>
                          <li>Software/UX development.</li>
                          <li>Legal support (UK/DE).</li>
                        </ul>
                      </div>
                </div>
                  <i class="nes-bcrikko"></i>
                </section>
              </section>
            </section>
    </div>

    <div class="row">
<div class="nes-container is-rounded is-dark">
    <a href="tel:+49-176-345-48857">
                    <p>Contact me!</p>
                    <i class="nes-phone"></i>
                </a>

                <a href="https://signal.org/android/apk/"  target="_blank">
                    <button type="button" class="nes-btn is-primary">Download Signal!</button>
                </a>
  </div>
    </div>
</div>


<footer class="footer ">
  <div class="container nes-container is-rounded is-dark">
      <div class="content footer-content has-text-centered">
      <p>Music by Death Grips, Angelic Upstarts, and Run The Jewels</p>
      </div>
  </div>
</footer>