<div class="row row-navigation">
    <!-- <a [routerLink]="['/language']" [queryParams]="{foo: bar}" fragment="baz">
        <div class="col col-language">
            language
        </div>
    </a> -->
    <div class="col col-language">
        <a *ngIf="state" [routerLink]="['/language', state]">
            {{ "navigation.language" | translate }}
        </a>
        <a *ngIf="!state" [routerLink]="['/language']">
            {{ "navigation.language" | translate }}
        </a>    
    </div>
    <div class="col col-home">
        <a *ngIf="state" [routerLink]="['/home', state]">
            {{ "navigation.home" | translate }}
        </a>
        <a *ngIf="!state" [routerLink]="['/home']">
            {{ "navigation.home" | translate }}
        </a>
    </div>
    <div class="col col-country">
        <a *ngIf="state" [routerLink]="['/country', state]">
            {{ "navigation.country" | translate }}
        </a>
        <a *ngIf="!state" [routerLink]="['/country']">
            {{ "navigation.country" | translate }}
        </a>
    </div>
</div>