<div class="row row-navigation">
    <!-- <a [routerLink]="['/language']" [queryParams]="{foo: bar}" fragment="baz">
        <div class="col col-language">
            language
        </div>
    </a> -->
    <div class="col col-language">
        <a [routerLink]="['/language']">
            {{ "navigation.view-language" | translate }}
        </a>    
    </div>
    <div class="col col-home">
        <a [routerLink]="['/home']">
            {{ "navigation.view-home" | translate }}
        </a>
    </div>
    <div class="col col-country">
        <a [routerLink]="['/country']">
            {{ "navigation.view-country" | translate }}
        </a>
    </div>
</div>