<div class="row row-navigation">
    <!-- <a [routerLink]="['/language']" [queryParams]="{foo: bar}" fragment="baz">
        <div class="col col-language">
            language
        </div>
    </a> -->
    <div class="col col-language">
        <a i18n="language-link" [routerLink]="['/language']">
            language
        </a>    
    </div>
    <div class="col col-home">
        <a i18n="home-link" [routerLink]="['/home']">
            home
        </a>
    </div>
    <div class="col col-country">
        <a i18n="country-link" [routerLink]="['/country']">
            country
        </a>
    </div>
</div>