<div class="row row-confirm" [ngSwitch]="selected">
    <div class="col col-start" *ngSwitchCase="'start'">
        <p *ngIf="state == 'england'">{{ "home.confirm.flow-england" | translate }}</p>
        <p *ngIf="state == 'bayern'">{{ "home.confirm.flow-bayern" | translate }}</p>
    </div>
    <div class="col col-about" *ngSwitchCase="'about'">
        <p>{{ "home.confirm.about" | translate }}</p>
    </div>
    <div class="col col-default" *ngSwitchDefault>
        <p>{{ "home.confirm.default" | translate }}</p>
    </div>
</div>
